<article class="form-container">
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>

  <button onclick="toggleModal()">Toggle!!</button>

  <div id="modal" class="msform-container hidden">
    <iframe id="msform" class="msform" src="https://forms.office.com/Pages/ResponsePage.aspx?id=<%= @article.survey.form_id%>&embed=true" frameborder="0" allowfullscreen></iframe>
  </div>
  
</article>

<style>
  .form-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .msform-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 80%;
    height: 80vh;
    border: 3px solid #000;
  }
  .msform {
    width: 100%;
    height: 100%;
  }
  .hidden {
    display: none;
  }
</style>

<script>
  const modal = document.getElementById('modal')
  const form = document.getElementById('msform');

  const classList = modal.classList

  const toggleModal = () => {
    if (classList.contains('hidden')) {
      form.src = "<%= j("https://forms.office.com/Pages/ResponsePage.aspx?id=#{@article.survey.form_id}&embed=true") %>";
      classList.remove('hidden')
    } else {
      classList.add('hidden')
      form.src = '';
    }
  }
</script>
