<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Basic Authenticate", basic_auth_index_path %></li>
      </ul>
    </nav>
  </div>
</footer>